<!DOCTYPE html>
<html lang="en">
  <head class="bg-light">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="VBCD">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json">
    <title>Contact List</title>

    <!-- Link to the universal styles.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="manifest" href="/manifest.json" />
  </head>

  <body>
    <h1 class="text-center mt-4">Contact List</h1>
    <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">VBCD</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('index') }}">Home
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('search') }}">Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('search_email') }}">Email Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('upload') }}">Upload</a>
            </li>
            {% if session['role'] == 'admin' %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('select_contact_to_edit') }}">Edit</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('select_contact_to_delete') }}">Delete</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    
    <button id="copy-emails-button" class="btn btn-secondary">Copy Selected Emails</button>
    <button id="download-selected-button" class="btn btn-success">Download Selected Contacts</button>
    {% if session['role'] == 'admin' %}
    <button id="delete-selected-button" class="btn btn-danger">Delete Selected Contacts</button>
    {% endif %}
    <span id="totalCount" class="navbar-text ml-auto">Total Cards:</span>
    
    <table id="index-table" class="table table-hover mt-4">
      <thead class="thead-light">
        <tr>
          <th scope="col">
            <input type="checkbox" id="selectAllCheckbox" />
          </th>
          <th scope="col" class="table-primary"><button class="btn btn-secondary nav-link">Tag</button></th>
          <th scope="col" class="table-primary"><button class="btn btn-secondary nav-link">First Name</button></th>
          <th scope="col" class="table-primary"><button class="btn btn-secondary nav-link">Last Name</button></th>
          <th scope="col" class="table-primary"><button class="btn btn-secondary nav-link">Country</button></th>
          <th scope="col" class="table-primary"><button class="btn btn-secondary nav-link">Company</button></th>
          <th scope="col" class="table-primary"><button class="btn btn-secondary nav-link">Department</button></th>
          <th scope="col" class="table-primary"><button class="btn btn-secondary nav-link">Job Title</button></th>
          <th scope="col" class="table-primary"><button class="btn btn-secondary nav-link">Email Address</button></th>
          <th scope="col" class="table-primary"><button class="btn btn-secondary nav-link">Business Phone</button></th>
          <th scope="col" class="table-primary"><button class="btn btn-secondary nav-link">Mobile Phone</button></th>
          <th scope="col" class="table-primary"><button class="btn btn-secondary nav-link">Email Address 2</button></th>
          <th scope="col" class="table-primary"><button class="btn btn-secondary nav-link">Business Fax</button></th>
          <th scope="col" class="table-primary"><button class="btn btn-secondary nav-link">Birthday</button></th>
          <th scope="col" class="table-primary"><button class="btn btn-secondary nav-link">Address</button></th>
          <th scope="col" class="table-primary"><button class="btn btn-secondary nav-link">City</button></th>
          <th scope="col" class="table-primary"><button class="btn btn-secondary nav-link">State</button></th>
          <th scope="col" class="table-primary"><button class="btn btn-secondary nav-link">Zip</button></th>
          <th scope="col" class="table-primary"><button class="btn btn-secondary nav-link">Web Page</button></th>
          <th scope="col" class="table-primary"><button class="btn btn-secondary nav-link">Meet Date</button></th>
          <th scope="col" class="table-primary"><button class="btn btn-secondary nav-link">Notes</button></th>
          {% if session['role'] == 'admin' %}
          <th></th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for contact in contacts %}
        <tr data-contact-id="{{contact.id }}">
          <td><input type="checkbox" name="contact_id" value="{{ contact.id }}" class="contact-id-input" /></td>
          <input type="hidden" class="contact-id-input" value="{{ contact.id }}" />
          <td>{{ contact.tag }}</td>
          <td>{{ contact.first_name }}</td>
          <td>{{ contact.last_name }}</td>
          <td>{{ contact.business_country }}</td>
          <td>{{ contact.company }}</td>
          <td>{{ contact.department }}</td>
          <td>{{ contact.job_title }}</td>
          <td>{{ contact.email_address }}</td>
          <td>{{ contact.business_phone }}</td>
          <td>{{ contact.mobile_phone }}</td>
          <td>{{ contact.email_address_2 }}</td>
          <td>{{ contact.business_fax }}</td>
          <td>{{ contact.birthday }}</td>
          <td>{{ contact.business_address }}</td>
          <td>{{ contact.business_city }}</td>
          <td>{{ contact.business_state }}</td>
          <td>{{ contact.business_zip }}</td>
          <td>{{ contact.web_page }}</td>
          <td>{{ contact.meet_date }}</td>
          <td>{{ contact.notes }}</td>
          {% if session['role'] == 'admin' %}
          <td>
            <a
              href="{{ url_for('edit', contact_id=contact.id) }}"
              class="btn btn-primary"
              >Edit</a
            >
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/speakingurl/14.0.1/speakingurl.min.js"></script>
    <script src="https://fastly.jsdelivr.net/npm/cnchar/cnchar.min.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="{{ url_for('static', filename='sort.js') }}"></script>

    <script>
        // Your inline script here
        function downloadSelectedContacts() {
            // Your logic to get selected contact IDs
            var checkboxes = document.querySelectorAll('input[name="contact_id"]:checked');

            var selectedContactIds = Array.from(checkboxes).map(function (checkbox) {
                return checkbox.value;
            });
            // Make an AJAX request to the Flask route
            $.ajax({
                type: 'POST',
                url: '/generate_csv',
                contentType: 'application/json',
                data: JSON.stringify({ 'selected_contact_ids': selectedContactIds }), // Include selected contact IDs
                success: function (data) {
                    // Extract CSV content from the response
                    var csvContent = data.csv_content;

                    // Convert the CSV content to a Blob with UTF-8 encoding
                    var blob = new Blob([new Uint8Array([0xEF, 0xBB, 0xBF]), csvContent], { type: 'text/csv;charset=utf-8;' });

                    // Create a data URI with the Blob
                    var dataUri = URL.createObjectURL(blob);

                    // Create a link element
                    var link = document.createElement('a');

                    // Set the link's href attribute to the data URI
                    link.href = dataUri;

                    // Specify the filename for the download
                    link.download = 'contacts.csv';

                    // Append the link to the document
                    document.body.appendChild(link);

                    // Trigger a click on the link to initiate the download
                    link.click();

                    // Remove the link from the document
                    document.body.removeChild(link);
                },
                error: function (error) {
                    console.error('Error:', error);
                }
            });
        }
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Get the "Select All" checkbox
            var selectAllCheckbox = document.getElementById("selectAllCheckbox");

            // Get all checkboxes in the table body
            var contactCheckboxes = document.querySelectorAll(".contact-id-input");

            // Add an event listener to the "Select All" checkbox
            selectAllCheckbox.addEventListener("change", function () {
                // Set the state of all contact checkboxes to match the "Select All" checkbox
                contactCheckboxes.forEach(function (checkbox) {
                    checkbox.checked = selectAllCheckbox.checked;
                });
            });
        });
    </script>
  </body>
</html>
