<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Your App Title">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json">
    <title>Select Contact to Edit</title>

    <!-- Add the Bootstrap CSS link -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="manifest" href="/manifest.json" />
  </head>

  <body class="bg-light">
    <div class="container">
      <h1 class="text-center mt-4">Select Contact to Edit</h1>
      <nav class="text-center my-4">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="{{ url_for('index') }}" class="btn btn-secondary">Home</a>
          </li>
          <li class="list-inline-item">
            <a href="{{ url_for('upload') }}" class="btn btn-secondary"
              >Upload</a
            >
          </li>
          <li class="list-inline-item">
            <a href="{{ url_for('search_email') }}" class="btn btn-secondary"
              >Email Search</a
            >
          </li>
          <li class="list-inline-item">
            <a
              href="{{ url_for('select_contact_to_edit') }}"
              class="btn btn-secondary"
              >Edit</a
            >
          </li>
          <li class="list-inline-item">
            <a
              href="{{ url_for('select_contact_to_delete') }}"
              class="btn btn-secondary"
              >Delete</a
            >
          </li>
        </ul>
      </nav>
      <form method="post" class="mx-auto" style="max-width: 400px">
        <div class="form-group">
          <label for="contact_id">Choose a contact:</label>
          <select
            class="form-control"
            name="contact_id"
            id="contact_id"
            required
          >
            {% for contact in contacts %}
            <option value="{{ contact.id }}">
              {{ contact.first_name }} {{ contact.last_name }}
            </option>
            {% endfor %}
          </select>
        </div>
        <button type="submit" class="btn btn-success btn-block">
          Edit Selected Contact
        </button>
      </form>
    </div>

    <!-- Add the Bootstrap and jQuery scripts at the end of the body -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
